In [1]:
import pandas as pd
import numpy as np

In [4]:
# Пример данных
data = {
    'ID': [1, 1, 1, 2, 2, 3, 3, 3, 4, 4],
    'Площадь': [50, 50, 50, 70, 70, 60, 60, 60, 80, 80],
    'Год постройки': [2000, np.nan, 2000, 2010, 2010, 2015, np.nan, 2015, 2020, np.nan],
    'Этаж': [3, 3, 3, 5, 5, 2, 2, 2, 7, 7],
    'Этажность': [9, 9, 9, 12, 12, 5, 5, 5, 10, 10],
    'Координаты': ['(55.75, 37.62)', '(55.75, 37.62)', '(55.75, 37.62)', '(55.80, 37.70)', '(55.80, 37.70)', '(55.70, 37.50)', '(55.70, 37.50)', '(55.70, 37.50)', '(55.90, 37.80)', '(55.90, 37.80)'],
    'Цена': [5000000, 5000000, 5000000, 7000000, 7000000, 6000000, 6000000, 6000000, 8000000, 8000000],
    'Дата среза': ['2023-01-01', '2023-01-15', '2023-02-01', '2023-01-10', '2023-02-15', '2023-01-20', '2023-02-20', '2023-03-01', '2023-01-05', '2023-02-05']
}

df = pd.DataFrame(data)

# Преобразуем столбец 'Дата среза' в формат datetime
df['Дата среза'] = pd.to_datetime(df['Дата среза'])

def process_duplicates(group):
    # Находим индекс объекта с максимальной датой среза
    most_recent_index = group['Дата среза'].idxmax()
    most_recent_row = group.loc[most_recent_index].copy()

    # Заполняем пропуски в наиболее актуальной строке, если они есть
    for col in group.columns:
        if pd.isna(most_recent_row[col]):
           if col != 'Дата среза' and group[col].dropna().any():
                most_recent_row[col] = group[col].dropna().iloc[0]
    
    return most_recent_row
    
result_df = df.groupby('ID').apply(process_duplicates).reset_index(drop=True)
#print("Исходный DataFrame:")
#print(df)
#print("\nРезультирующий DataFrame без дубликатов:")
result_df

C:\Users\skapr\AppData\Local\Temp\ipykernel_25036\1050531943.py:31: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  result_df = df.groupby('ID').apply(process_duplicates).reset_index(drop=True)

,ID,Площадь,Год постройки,Этаж,Этажность,Координаты,Цена,Дата среза
0,1,50,2000.0,3,9,"(55.75, 37.62)",5000000,2023-02-01
1,2,70,2010.0,5,12,"(55.80, 37.70)",7000000,2023-02-15
2,3,60,2015.0,2,5,"(55.70, 37.50)",6000000,2023-03-01
3,4,80,2020.0,7,10,"(55.90, 37.80)",8000000,2023-02-05