In [73]:
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

In [16]:
a = np.array([98.5, 1, 2, 1, 5, 7])
e = np.array([99, 1, 2, 1, 5, 7])
b = np.array([99, 2, 3, 2, 6, 8])
c = np.array([98.5, 23.6, 56.7])
d = np.array([43.2, 89.3, 18.4])

In [17]:
cosine = cosine_similarity(a.reshape(1, -1), b.reshape(1, -1))
print(cosine)

[[0.99975724]]

In [18]:
cosine = cosine_similarity(a.reshape(1, -1), e.reshape(1, -1))
print(cosine)

[[0.9999999]]

In [5]:
cosine = cosine_similarity(c.reshape(1, -1), d.reshape(1, -1))
print(cosine)

[[0.63237215]]

In [30]:
a = set([98.5, 1, 2, 1, 5, 7])
e = set([99, 1, 2, 1, 5, 7])
b = set([99, 2, 3, 2, 6, 8])

In [31]:
shared = a.intersection(e)
shared

{1, 2, 5, 7}

In [32]:
total = a.union(e)
total

{1, 2, 5, 7, 98.5, 99}

In [34]:
len(shared) / len(total)

0.6666666666666666

In [150]:
a = "98.5 4 Ленина 5"
b = "99 4 Ленина 5"

In [151]:
import difflib
def similarity(s1, s2):
    normalized_1 = s1.lower()
    normalized_2 = s2.lower()
    matcher = difflib.SequenceMatcher(None, normalized_1, normalized_2)
    return matcher.ratio()

In [64]:
similarity(a, b)

0.8571428571428571

In [2]:
df = pd.read_excel('выбросы.xlsx', sheet_name = 0)
df

,Цена,LN(Цена),Прогноз_catb,Прогноз_NN,Прогноз_MLP,Прогноз_Stack,Mean_catb_NN,Балл_2,Метка,err,...,Этаж,Пассажирский лифт,Двор,Парковка,Высота потолков,В доме,Грузовой лифт,Техника,Тёплый пол,Запланирован снос
0,12200000,16.316947,1.244408e+07,12741835.0,1.307682e+07,1.283019e+07,1.259296e+07,10.032591,0,2662.039991,...,16 из 16,2,"детская площадка, спортивная площадка",подземная,NaN,NaN,NaN,NaN,NaN,NaN
1,3672000,15.116247,3.440196e+06,3788324.5,3.860409e+06,3.441493e+06,3.614260e+06,9.063572,0,-6012.449904,...,3 из 4,NaN,NaN,NaN,3 м,NaN,NaN,NaN,NaN,NaN
2,4950000,15.414898,4.306453e+06,4349611.0,4.360099e+06,4.266249e+06,4.328032e+06,9.062723,0,22922.841278,...,1 из 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5890000,15.588767,6.430588e+06,6356236.0,6.769846e+06,6.392300e+06,6.393412e+06,9.033269,0,3774.725466,...,3 из 6,NaN,NaN,открытая во дворе,2.7 м,газ,NaN,NaN,NaN,NaN
4,5390000,15.500056,5.655877e+06,5661739.5,5.624131e+06,5.572903e+06,5.658808e+06,10.424938,0,-30742.074763,...,10 из 23,1,закрытая территория,NaN,NaN,NaN,1,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7539,17800000,16.694709,1.600551e+07,17103258.0,1.725586e+07,1.705123e+07,1.655439e+07,10.303444,0,894.780267,...,13 из 20,2,"закрытая территория, детская площадка",подземная,2.8 м,NaN,1,"холодильник, стиральная машина, посудомоечная...",есть,NaN
7540,6100000,15.623799,5.401883e+06,5682841.5,5.683466e+06,5.534101e+06,5.542362e+06,8.972290,0,-6026.088792,...,3 из 5,нет,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7541,9826880,16.100632,8.021943e+06,8694407.0,8.440710e+06,8.355624e+06,8.358175e+06,10.164845,0,-1919.172274,...,8 из 11,2,детская площадка,подземная,NaN,газ,NaN,"кондиционер, холодильник, посудомоечная машина",NaN,NaN
7542,4350000,15.285686,4.578456e+06,4197503.5,4.196797e+06,4.620189e+06,4.387980e+06,10.062153,0,-15178.908880,...,10 из 16,1,"закрытая территория, детская площадка, спорти...",за шлагбаумом во дворе,2.7 м,консьерж,2,NaN,NaN,NaN
7543,5700000,15.555977,5.285584e+06,5174736.0,5.163347e+06,5.175335e+06,5.230160e+06,10.241192,0,-6954.810904,...,4 из 16,1,"закрытая территория, детская площадка, спорти...","подземная, открытая во дворе",NaN,"консьерж, мусоропровод",1,NaN,NaN,NaN

In [9]:
df['Сцепка_2']

0                16 Московская 192 Юго-Западный
1                 3 Таёжная 2 Старая сортировка
2                  1 Стрелочников 2Д Вокзальный
3                              3 Щорса 96 Южный
4         10 Хрустальногорская 93 Академический
                         ...
7539                  13 Большакова 25 Парковой
7540                      3 Грибоедова 8 Химмаш
7541                8 Академика 4 Академический
7542    10 Софьи Перовской 110 Новая сортировка
7543                       4 Рощинская 41 Уктус
Name: Сцепка_2, Length: 7544, dtype: object

In [71]:
df['Сцепка_2'].loc[0:0]

0    16 Московская 192 Юго-Западный
Name: Сцепка_2, dtype: object

In [72]:
arr = np.array(df['Сцепка_2'])
arr

array(['16 Московская 192 Юго-Западный', '3 Таёжная 2 Старая сортировка',
       '1 Стрелочников 2Д Вокзальный', ..., '8 Академика 4 Академический',
       '10 Софьи Перовской 110 Новая сортировка', '4 Рощинская 41 Уктус'],
      dtype=object)

In [73]:
similarity(arr[0], arr[3])

0.2608695652173913

In [74]:
arr[7280]

'12 Ткачей 19/2 Клевер Парк'

In [75]:
arr[3630]

'18 Ткачей 19/2 Клевер Парк'

In [76]:
similarity(arr[7280], arr[3630])

0.9615384615384616

In [152]:
from tqdm import tqdm

# def duplicates_search(price = False, square = True, arr):
    
#     return arr

In [65]:
df_1

,0,1,2,3,4,5,6,7,8,9,...,7534,7535,7536,7537,7538,7539,7540,7541,7542,7543
0,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
1,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
2,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
3,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
4,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7539,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
7540,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
7541,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
7542,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус
7543,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус

In [52]:
df_1.loc[54:54].index.to_list()[0]

54

In [57]:
df_1.loc[54:54]

,0,1,2,3,4,5,6,7,8,9,...,7534,7535,7536,7537,7538,7539,7540,7541,7542,7543
54,16 Московская 192 Юго-Западный,3 Таёжная 2 Старая сортировка,1 Стрелочников 2Д Вокзальный,3 Щорса 96 Южный,10 Хрустальногорская 93 Академический,8 Седова 17 Новая сортировка,1 Крестинского 11 Ботанический,19 Космонавтов 91Б Уралмаш,16 Машинная 31В Южный,1 Ботаническая 11 Втузгородок,...,7 Золотистый 4 Солнечный,31 Готвальда 24/4 Заречный,1 Замятина 36 Эльмаш,1 Сурикова 24 Южный,9 Московская 56 Юго-Западный,13 Большакова 25 Парковой,3 Грибоедова 8 Химмаш,8 Академика 4 Академический,10 Софьи Перовской 110 Новая сортировка,4 Рощинская 41 Уктус

In [59]:
df_1.iat[0,2]

'1 Стрелочников 2Д Вокзальный'

In [155]:
arr = ['a', 'b', 'c']
mas = [arr] * 7000
mas

[['a', 'b', 'c'], ['a', 'b', 'c'], ['a', 'b', 'c']]

In [158]:
arrr = []

for i in tqdm(range(0, len(arr), 1), position = 0, leave = True):
    arrr.append(list(map(lambda x, y: similarity(x, y), mas[0], mas[i])))
    

arrr

100%|██████████| 3/3 [00:00<00:00, 7367.04it/s]

[[1.0, 1.0, 1.0], [1.0, 1.0, 1.0], [1.0, 1.0, 1.0]]

In [157]:
mas[0]

['a', 'b', 'c']

# Поиск дубликатов

In [212]:
from tqdm import tqdm
import pandas as pd
import numpy as np
import difflib

In [213]:
def similarity(s1, s2):
    normalized_1 = s1.lower()
    normalized_2 = s2.lower()
    matcher = difflib.SequenceMatcher(None, normalized_1, normalized_2)
    return matcher.ratio()

In [154]:
df['Дубли'] = df['Сцепка_2'].duplicated(keep = False)

In [155]:
df_2 = df[df['Дубли'] == True]
df_2

,Цена,LN(Цена),Прогноз_catb,Прогноз_NN,Прогноз_MLP,Прогноз_Stack,Mean_catb_NN,Балл_2,Метка,err,...,Пассажирский лифт,Двор,Парковка,Высота потолков,В доме,Грузовой лифт,Техника,Тёплый пол,Запланирован снос,Дубли
4,5390000,15.500056,5.655877e+06,5661739.50,5.624131e+06,5.572903e+06,5.658808e+06,10.424938,0,-30742.074763,...,1,закрытая территория,NaN,NaN,NaN,1,NaN,NaN,NaN,True
7,5480000,15.516616,6.423290e+06,6170950.50,6.231385e+06,6.483511e+06,6.297120e+06,10.622843,1,-46617.133519,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,True
13,2590000,14.767168,2.627396e+06,3415603.50,3.115829e+06,3.280574e+06,3.021500e+06,9.770832,0,34596.637929,...,NaN,NaN,открытая во дворе,NaN,NaN,NaN,"холодильник, стиральная машина",NaN,NaN,True
18,8800000,15.990262,8.791870e+06,8863286.00,8.907269e+06,8.705535e+06,8.827578e+06,10.599009,0,236.228403,...,2,"закрытая территория, детская площадка, спорти...","наземная многоуровневая, открытая во дворе",NaN,консьерж,1,стиральная машина,NaN,NaN,True
19,2527000,14.742543,2.879498e+06,3016973.25,2.965299e+06,2.903403e+06,2.948236e+06,10.520026,0,-28363.763995,...,2,детская площадка,наземная многоуровневая,2.7 м,NaN,1,NaN,NaN,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7530,9800000,16.097893,1.207725e+07,14171258.00,1.539068e+07,1.129999e+07,1.312426e+07,11.680760,0,-12874.302908,...,1,NaN,NaN,3 м,газ,нет,NaN,NaN,NaN,True
7532,4885000,15.401680,4.341861e+06,4431189.00,4.514148e+06,4.504245e+06,4.386525e+06,10.522853,0,-23028.390999,...,1,"детская площадка, спортивная площадка",наземная многоуровневая,NaN,NaN,1,NaN,NaN,NaN,True
7535,10073700,16.125439,1.000303e+07,10065342.00,1.022889e+07,9.950010e+06,1.003419e+07,10.860702,0,-21803.359064,...,NaN,"закрытая территория, детская площадка, спорти...",подземная,NaN,NaN,NaN,NaN,NaN,NaN,True
7540,6100000,15.623799,5.401883e+06,5682841.50,5.683466e+06,5.534101e+06,5.542362e+06,8.972290,0,-6026.088792,...,нет,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
7541,9826880,16.100632,8.021943e+06,8694407.00,8.440710e+06,8.355624e+06,8.358175e+06,10.164845,0,-1919.172274,...,2,детская площадка,подземная,NaN,газ,NaN,"кондиционер, холодильник, посудомоечная машина",NaN,NaN,True

In [156]:
df_3 = df_2[['ОПлощадь', 'Этаж_1', 'Район_2', 'Сцепка_2']]
df_3

      ОПлощадь  Этаж_1        Район_2                               Сцепка_2
4         53.1      10  Академический  10 Хрустальногорская 93 Академический
7         60.0      19        Уралмаш             19 Космонавтов 91Б Уралмаш
13        17.5       3   Юго-Западный           3 Гурзуфская 18 Юго-Западный
18        64.0      20    Втузгородок         20 Студенческая 80 Втузгородок
19        23.7       5          Уктус                   5 микрорайон 8 Уктус
...        ...     ...            ...                                    ...
7530      63.0      12    Центральный          12 Белинского 108 Центральный
7532      43.6       2          Уктус                   2 микрорайон 2 Уктус
7535      81.9      31       Заречный             31 Готвальда 24/4 Заречный
7540      72.3       3         Химмаш                  3 Грибоедова 8 Химмаш
7541      80.0       8  Академический            8 Академика 4 Академический

[1924 rows x 4 columns]

In [157]:
df_3[df_3['Сцепка_2'] == "2 микрорайон 2 Уктус"]

      ОПлощадь  Этаж_1 Район_2              Сцепка_2
2064      66.0       2   Уктус  2 микрорайон 2 Уктус
7532      43.6       2   Уктус  2 микрорайон 2 Уктус

In [158]:
#Матрица для площади
df_sq = pd.DataFrame(df_3['ОПлощадь'])
df_sq = df_sq.T
df_sq = pd.concat([df_sq] * len(df_3['ОПлощадь']), ignore_index = True)
df_sq.columns = range(0, 1924)
df_sq

,0,1,2,3,4,5,6,7,8,9,...,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923
0,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
1,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
2,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
3,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
4,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
1920,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
1921,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
1922,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0
1923,53.1,60.0,17.5,64.0,23.7,58.9,60.1,22.5,45.2,40.9,...,53.0,86.8,42.6,85.0,95.2,63.0,43.6,81.9,72.3,80.0

In [159]:
#Матрица для строк
df_sim= pd.DataFrame(df_3['Сцепка_2'])
df_sim = df_sim.T
df_sim = pd.concat([df_sim] * len(df_3['Сцепка_2']), ignore_index = True)
df_sim.columns = range(0, 1924)
df_sim

,0,1,2,3,4,5,6,7,8,9,...,1914,1915,1916,1917,1918,1919,1920,1921,1922,1923
0,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
1,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
2,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
3,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
4,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1919,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
1920,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
1921,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
1922,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический
1923,10 Хрустальногорская 93 Академический,19 Космонавтов 91Б Уралмаш,3 Гурзуфская 18 Юго-Западный,20 Студенческая 80 Втузгородок,5 микрорайон 8 Уктус,19 40-летия Комсомола 2Д Комсомольский_1,9 Рябинина 29 Академический,5 микрорайон 8 Уктус,1 Николая Кичигина 9/3 Академический,5 Горнистов 11 Кольцово,...,1 Данилы Зверева 7 Пионерский,2 Куйбышева 21 Центр,12 Космонавтов 26А Эльмаш,10 Донбасская 19 Уралмаш,7 Рощинская 68 Уктус,12 Белинского 108 Центральный,2 микрорайон 2 Уктус,31 Готвальда 24/4 Заречный,3 Грибоедова 8 Химмаш,8 Академика 4 Академический

In [175]:
print(sim[0], '\n', df_sim[2][0])
print(sq[1], '\n', df_sq[2][1])

10 Хрустальногорская 93 Академический
 3 Гурзуфская 18 Юго-Западный
60.0
 17.5

In [201]:
treshold = 5

sim = np.array(df_3['Сцепка_2'])
sq = np.array(df_3['ОПлощадь'])

matrix = np.zeros((len(sq), len(sq)))
n = 0

for i in tqdm(range(0, len(sq), 1), position = 0, leave = True): #перебираем столбцы патриц df_sim, df_sq
    n = i + 1
    for j in range(0, n, 1):
        similar = similarity(sim[j], df_sim[i][j])
        diff = abs(sq[j] - df_sq[i][j])
        if similar == 1 and diff <= treshold:
            matrix[j][i] = 1    #строка, столбец
            matrix[i][j] = 1    #строка, столбец
        else:
            matrix[j][i] = 0    #строка, столбец
            matrix[i][j] = 0    #строка, столбец

100%|██████████| 1924/1924 [05:00<00:00,  6.41it/s]

In [202]:
matrix

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [203]:
summ = []

for i in range(0, len(sq), 1):
    summ.append(matrix[i].sum() - 1) #вычитаем 1 из диагонали матрицы

In [204]:
df_3['Метка'] = summ
df_3

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ОПлощадь,Этаж_1,Район_2,Сцепка_2,Метка
4,53.1,10,Академический,10 Хрустальногорская 93 Академический,0.0
7,60.0,19,Уралмаш,19 Космонавтов 91Б Уралмаш,1.0
13,17.5,3,Юго-Западный,3 Гурзуфская 18 Юго-Западный,1.0
18,64.0,20,Втузгородок,20 Студенческая 80 Втузгородок,0.0
19,23.7,5,Уктус,5 микрорайон 8 Уктус,4.0
...,...,...,...,...,...
7530,63.0,12,Центральный,12 Белинского 108 Центральный,0.0
7532,43.6,2,Уктус,2 микрорайон 2 Уктус,0.0
7535,81.9,31,Заречный,31 Готвальда 24/4 Заречный,0.0
7540,72.3,3,Химмаш,3 Грибоедова 8 Химмаш,1.0
7541,80.0,8,Академический,8 Академика 4 Академический,0.0

In [221]:
df_3[df_3['Сцепка_2'] == "20 Студенческая 80 Втузгородок"]

      ОПлощадь  Этаж_1      Район_2                        Сцепка_2  Метка
18        64.0      20  Втузгородок  20 Студенческая 80 Втузгородок    0.0
6494      40.0      20  Втузгородок  20 Студенческая 80 Втузгородок    0.0

In [199]:
df_3['Метка'].min()

0.0

In [200]:
df_3['Метка'].max()

4.0

In [216]:
len(df_3['Сцепка_2'].unique())

878

In [223]:
#treshold = 5

sim = np.array(df_3['Сцепка_2'])
#sq = np.array(df_3['ОПлощадь'])

matrix_1 = np.zeros((len(sq), len(sq)))
n = 0

for i in tqdm(range(0, len(sq), 1), position = 0, leave = True): #перебираем столбцы патриц df_sim, df_sq
    n = i + 1
    for j in range(0, n, 1):
        similar = similarity(sim[j], df_sim[i][j])
        #diff = abs(sq[j] - df_sq[i][j])
        if similar == 1:
            matrix_1[j][i] = 1    #строка, столбец
            matrix_1[i][j] = 1    #строка, столбец
        else:
            matrix_1[j][i] = 0    #строка, столбец
            matrix_1[i][j] = 0    #строка, столбец

100%|██████████| 1924/1924 [04:39<00:00,  6.88it/s]

In [224]:
treshold = 5

#sim = np.array(df_3['Сцепка_2'])
sq = np.array(df_3['ОПлощадь'])

matrix_2 = np.zeros((len(sq), len(sq)))
n = 0

for i in tqdm(range(0, len(sq), 1), position = 0, leave = True): #перебираем столбцы патриц df_sim, df_sq
    n = i + 1
    for j in range(0, n, 1):
        #similar = similarity(sim[j], df_sim[i][j])
        diff = abs(sq[j] - df_sq[i][j])
        if diff <= treshold:
            matrix_2[j][i] = 1    #строка, столбец
            matrix_2[i][j] = 1    #строка, столбец
        else:
            matrix_2[j][i] = 0    #строка, столбец
            matrix_2[i][j] = 0    #строка, столбец

100%|██████████| 1924/1924 [00:19<00:00, 96.85it/s]

In [225]:
matrix_3 = np.multiply(matrix_1, matrix_2)
matrix_3

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [226]:
summ = []

for i in range(0, len(sq), 1):
    summ.append(matrix_3[i].sum() - 1) #вычитаем 1 из диагонали матрицы

In [227]:
df_3['Метка_2'] = summ
df_3

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,ОПлощадь,Этаж_1,Район_2,Сцепка_2,Метка,Метка_2
4,53.1,10,Академический,10 Хрустальногорская 93 Академический,0.0,0.0
7,60.0,19,Уралмаш,19 Космонавтов 91Б Уралмаш,1.0,1.0
13,17.5,3,Юго-Западный,3 Гурзуфская 18 Юго-Западный,1.0,1.0
18,64.0,20,Втузгородок,20 Студенческая 80 Втузгородок,0.0,0.0
19,23.7,5,Уктус,5 микрорайон 8 Уктус,4.0,4.0
...,...,...,...,...,...,...
7530,63.0,12,Центральный,12 Белинского 108 Центральный,0.0,0.0
7532,43.6,2,Уктус,2 микрорайон 2 Уктус,0.0,0.0
7535,81.9,31,Заречный,31 Готвальда 24/4 Заречный,0.0,0.0
7540,72.3,3,Химмаш,3 Грибоедова 8 Химмаш,1.0,1.0
7541,80.0,8,Академический,8 Академика 4 Академический,0.0,0.0

# Функция поиска дубликатов

In [63]:
from tqdm import tqdm
import pandas as pd
import numpy as np
import difflib

def similarity(s1, s2):
    normalized_1 = s1.lower()
    normalized_2 = s2.lower()
    matcher = difflib.SequenceMatcher(None, normalized_1, normalized_2)
    return matcher.ratio()

def search_duplicates(sim, sq, treshold, iid):                                                           #sim = df['Сцепка_2'], sq = df['ОПлощадь']
    treshold = treshold                                                                                  #порог по площади (<=)
    matrix = np.zeros((len(sq), len(sq)))                                                                #создаем нулевую матрицу
    
    df_sq_sim = pd.DataFrame({'ID': iid, 'sq': sq, 'sim': sim})                                          #создаем DF для площади и сцепки
    df_sq_sim['dup'] = df_sq_sim['sim'].duplicated(keep = False)                                         #создаем столбик с дубликатами по сцепке
    duplicates = df_sq_sim[df_sq_sim['dup'] == True]                                                     #сортируем все дубликаты по сцепке

    df_sq = pd.concat([pd.DataFrame(duplicates['sq']).T] * len(duplicates), ignore_index = True)         #матрица для площадей
    df_sq.columns = range(0, len(duplicates))
    
    df_sim = pd.concat([pd.DataFrame(duplicates['sim']).T] * len(duplicates), ignore_index = True)       #матрица для сцепок
    df_sim.columns = range(0, len(duplicates))
    
    sim = np.array(duplicates['sim'])
    sq = np.array(duplicates['sq'])

    n = 0
    for i in tqdm(range(0, len(sq), 1), position = 0, leave = True):                                     #перебираем столбцы патриц df_sim, df_sq
        n = i + 1
        for j in range(0, n, 1):
            #similar = similarity(sim[j], df_sim[i][j])                                                  #сходство по сцепке через функцию
            diff = abs(sq[j] - df_sq[i][j])                                                              #разница по площади
            #print(diff)
            #if similar == 1 and diff <= treshold:
            if (sim[j] == df_sim[i][j]) and (diff <= treshold):                                            #прямое сходство
                matrix[j][i] = 1                                                                         #строка, столбец
                matrix[i][j] = 1                                                                         #строка, столбец - зеркально
            else:
                matrix[j][i] = 0                                                                         #строка, столбец
                matrix[i][j] = 0                                                                         #строка, столбец - зеркально
    
    summ = []                                                                                            #считаем суммы по строкам матрицы
    for i in range(0, len(sq), 1):
        summ.append(matrix[i].sum() - 1)                                                                 #вычитаем 1 из диагонали матрицы
    
    duplicates['label'] = summ                                                                           #добавляем метку в DF, label показывает количество пересечений объекта с другими                                    
    
    return duplicates

In [10]:
df_ghgjf = search_duplicates(df['Сцепка_1'], df['ОПлощадь'], 5)
df_ghgjf

100%|██████████| 1917/1917 [00:34<00:00, 55.63it/s]
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

        sq                                    sim   dup  label
4     53.1  10 Хрустальногорская 93 Академический  True    0.0
7     60.0             19 Космонавтов 91Б Уралмаш  True    1.0
13    17.5           3 Гурзуфская 18 Юго-Западный  True    1.0
18    64.0         20 Студенческая 80 Втузгородок  True    0.0
19    23.7                   5 микрорайон 8 Уктус  True    4.0
...    ...                                    ...   ...    ...
7530  63.0          12 Белинского 108 Центральный  True    0.0
7532  43.6                   2 микрорайон 2 Уктус  True    0.0
7535  81.9             31 Готвальда 24/4 Заречный  True    0.0
7540  72.3                  3 Грибоедова 8 Химмаш  True    1.0
7541  80.0            8 Академика 4 Академический  True    0.0

[1917 rows x 4 columns]

In [270]:
df_ghgjf[df_ghgjf['sim'] == "5 микрорайон 8 Уктус"]

        sq                   sim   dup  label
19    23.7  5 микрорайон 8 Уктус  True    4.0
32    22.5  5 микрорайон 8 Уктус  True    4.0
2108  23.0  5 микрорайон 8 Уктус  True    4.0
2254  23.6  5 микрорайон 8 Уктус  True    4.0
4749  23.5  5 микрорайон 8 Уктус  True    4.0

In [273]:
count_dup = len([count for count in df_ghgjf['label'] if count != 0])
count_dup

925

# Поиск неточностей

In [3]:
df['Сцепка_3']

0             Московская 192
1                  Таёжная 2
2            Стрелочников 2Д
3                   Щорса 96
4       Хрустальногорская 93
                ...
7539           Большакова 25
7540            Грибоедова 8
7541             Академика 4
7542     Софьи Перовской 110
7543            Рощинская 41
Name: Сцепка_3, Length: 7544, dtype: object

In [17]:
def isInt(n):
    return int(n) == float(n)

def search_inaccuracy(hitch, val, iid):
    df_hitch_val = pd.DataFrame({'ID': iid, 'hitch': hitch, 'val': val})                                                    #создаем DF для значения (например, этажность или год) и сцепки
    df_hitch_val['hitch_count'] = df_hitch_val['hitch'].map(dict(df_hitch_val['hitch'].value_counts(ascending = False)))    #считаем количество квартир по каждой сцепке и создаем словарь
    inaccuracy = df_hitch_val[df_hitch_val['hitch_count'] != 1]                                                             #исключаем уникальные сцепки
    inaccuracy['hitch_summ'] = inaccuracy['hitch'].map(dict(inaccuracy.groupby('hitch')['val'].sum()))                      #находим суммы по каждой сцепке
    inaccuracy['hitch_min'] = inaccuracy['hitch'].map(dict(inaccuracy.groupby('hitch')['val'].min()))                       #находим минимальные значения (можно взять максимальные)
    inaccuracy['hitch_div'] = inaccuracy['hitch_summ'] / inaccuracy['hitch_min']                                            #находим отношения
    #там, где отношение не равно целому (int) числу - есть неточность
    inaccuracy['Метка'] = list(map(lambda n: int(n) == float(n), inaccuracy['hitch_div']))                                  #находим сцепки с неточностью, ставим метку
    return inaccuracy

In [14]:
df_ghgjf = search_inaccuracy(df['Сцепка_3'], df['Этажность_1'])
df_ghgjf

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,hitch,val,hitch_count,hitch_summ,hitch_min,hitch_div,Метка
0,Московская 192,16,2,42,16,2.625000,False
2,Стрелочников 2Д,5,3,15,5,3.000000,True
3,Щорса 96,6,2,11,5,2.200000,False
4,Хрустальногорская 93,23,20,451,16,28.187500,False
6,Крестинского 11,9,2,18,9,2.000000,True
...,...,...,...,...,...,...,...
7536,Замятина 36,5,4,20,5,4.000000,True
7539,Большакова 25,20,5,120,20,6.000000,True
7540,Грибоедова 8,5,2,10,5,2.000000,True
7541,Академика 4,11,12,168,11,15.272727,False
7543,Рощинская 41,16,4,64,16,4.000000,True

In [12]:
hitch = df['Сцепка_3']
val = df['Этажность_1']

df_hitch_val = pd.DataFrame({'hitch': hitch, 'val': val})                                                               #создаем DF для значения (например, этажность или год) и сцепки
df_hitch_val['hitch_count'] = df_hitch_val['hitch'].map(dict(df_hitch_val['hitch'].value_counts(ascending = False)))    #считаем количество квартир по каждой сцепке и создаем словарь
duplicates = df_hitch_val[df_hitch_val['hitch_count'] != 1] 
duplicates['hitch_summ'] = duplicates['hitch'].map(dict(duplicates.groupby('hitch')['val'].sum()))
duplicates['hitch_min'] = duplicates['hitch'].map(dict(duplicates.groupby('hitch')['val'].min()))                              #находим минимальные значения (можно взять максимальные)
duplicates['hitch_div'] = duplicates['hitch_summ'] / duplicates['hitch_min']
duplicates['Метка'] = list(map(lambda n: int(n) == float(n), duplicates['hitch_div']))
duplicates

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

,hitch,val,hitch_count,hitch_summ,hitch_min,hitch_div,Метка
0,Московская 192,16,2,42,16,2.625000,False
2,Стрелочников 2Д,5,3,15,5,3.000000,True
3,Щорса 96,6,2,11,5,2.200000,False
4,Хрустальногорская 93,23,20,451,16,28.187500,False
6,Крестинского 11,9,2,18,9,2.000000,True
...,...,...,...,...,...,...,...
7536,Замятина 36,5,4,20,5,4.000000,True
7539,Большакова 25,20,5,120,20,6.000000,True
7540,Грибоедова 8,5,2,10,5,2.000000,True
7541,Академика 4,11,12,168,11,15.272727,False
7543,Рощинская 41,16,4,64,16,4.000000,True

In [4]:
dicts = dict(df['Сцепка_3'].value_counts(ascending = False))

df['Сцепка_3_counts'] = df['Сцепка_3'].map(dicts)
df['Сцепка_3_counts']

0        2
1        1
2        3
3        2
4       20
        ..
7539     5
7540     2
7541    12
7542     1
7543     4
Name: Сцепка_3_counts, Length: 7544, dtype: int64

In [23]:
dup = df[df['Сцепка_3_counts'] != 1]

In [27]:
summ = dup.groupby('Сцепка_3')['Этажность_1'].sum()
summ

Сцепка_3
22-го Партсъезда 21        10
22-го Партсъезда 22        10
40-летия Комсомола 10       9
40-летия Комсомола 22      45
40-летия Комсомола 24     251
                         ...
микрорайон 5              822
микрорайон 6              162
микрорайон 7              214
микрорайон 8             1275
микрорайон 9              501
Name: Этажность_1, Length: 1569, dtype: int64

In [31]:
dicts_summ = dict(summ)

dup['Сцепка_3_summ'] = dup['Сцепка_3'].map(dicts_summ)
dup['Сцепка_3_summ']

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0        42
2        15
3        11
4       451
6        18
       ...
7536     20
7539    120
7540     10
7541    168
7543     64
Name: Сцепка_3_summ, Length: 5761, dtype: int64

In [28]:
minn = dup.groupby('Сцепка_3')['Этажность_1'].min()
minn

Сцепка_3
22-го Партсъезда 21       5
22-го Партсъезда 22       5
40-летия Комсомола 10     4
40-летия Комсомола 22     9
40-летия Комсомола 24    17
                         ..
микрорайон 5             24
микрорайон 6             25
микрорайон 7             17
микрорайон 8             16
микрорайон 9             19
Name: Этажность_1, Length: 1569, dtype: int64

In [32]:
dicts_minn = dict(minn)

dup['Сцепка_3_minn'] = dup['Сцепка_3'].map(dicts_minn)
dup['Сцепка_3_minn']

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

0       16
2        5
3        5
4       16
6        9
        ..
7536     5
7539    20
7540     5
7541    11
7543    16
Name: Сцепка_3_minn, Length: 5761, dtype: int64

In [33]:
dup['Сцепка_3_отношение'] = dup['Сцепка_3_summ'] / dup['Сцепка_3_minn']
dup['Сцепка_3_отношение']

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0        2.625000
2        3.000000
3        2.200000
4       28.187500
6        2.000000
          ...
7536     4.000000
7539     6.000000
7540     2.000000
7541    15.272727
7543     4.000000
Name: Сцепка_3_отношение, Length: 5761, dtype: float64

In [38]:
def isInt(n):
    return int(n) == float(n)

In [41]:
isInt(dup['Сцепка_3_отношение'][2])

True

In [45]:
dup['Метка'] = list(map(lambda n: int(n) == float(n), dup['Сцепка_3_отношение']))
dup['Метка']

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       False
2        True
3       False
4       False
6        True
        ...
7536     True
7539     True
7540     True
7541    False
7543     True
Name: Метка, Length: 5761, dtype: bool

In [46]:
dup[dup['Метка'] == False]

,Цена,LN(Цена),Прогноз_catb,Прогноз_NN,Прогноз_MLP,Прогноз_Stack,Mean_catb_NN,Балл_2,Метка,err,...,Высота потолков,В доме,Грузовой лифт,Техника,Тёплый пол,Запланирован снос,Сцепка_3_counts,Сцепка_3_summ,Сцепка_3_minn,Сцепка_3_отношение
0,12200000,16.316947,1.244408e+07,12741835.0,1.307682e+07,1.283019e+07,1.259296e+07,10.032591,False,2662.039991,...,NaN,NaN,NaN,NaN,NaN,NaN,2,42,16,2.625000
3,5890000,15.588767,6.430588e+06,6356236.0,6.769846e+06,6.392300e+06,6.393412e+06,9.033269,False,3774.725466,...,2.7 м,газ,NaN,NaN,NaN,NaN,2,11,5,2.200000
4,5390000,15.500056,5.655877e+06,5661739.5,5.624131e+06,5.572903e+06,5.658808e+06,10.424938,False,-30742.074763,...,NaN,NaN,1,NaN,NaN,NaN,20,451,16,28.187500
7,5480000,15.516616,6.423290e+06,6170950.5,6.231385e+06,6.483511e+06,6.297120e+06,10.622843,False,-46617.133519,...,NaN,NaN,1,NaN,NaN,NaN,18,464,25,18.560000
14,14500000,16.489659,1.655750e+07,17749734.0,1.763468e+07,1.880007e+07,1.715362e+07,10.120887,False,-42028.038581,...,3.5 м,NaN,1,NaN,NaN,NaN,7,81,8,10.125000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7530,9800000,16.097893,1.207725e+07,14171258.0,1.539068e+07,1.129999e+07,1.312426e+07,11.680760,False,-12874.302908,...,3 м,газ,нет,NaN,NaN,NaN,6,135,21,6.428571
7532,4885000,15.401680,4.341861e+06,4431189.0,4.514148e+06,4.504245e+06,4.386525e+06,10.522853,False,-23028.390999,...,NaN,NaN,1,NaN,NaN,NaN,16,400,23,17.391304
7534,7250000,15.796512,6.899057e+06,6456684.0,6.288355e+06,6.714600e+06,6.677871e+06,10.338196,False,-10897.102132,...,NaN,консьерж,1,"холодильник, стиральная машина",NaN,NaN,11,116,8,14.500000
7535,10073700,16.125439,1.000303e+07,10065342.0,1.022889e+07,9.950010e+06,1.003419e+07,10.860702,False,-21803.359064,...,NaN,NaN,NaN,NaN,NaN,NaN,18,632,35,18.057143
7541,9826880,16.100632,8.021943e+06,8694407.0,8.440710e+06,8.355624e+06,8.358175e+06,10.164845,False,-1919.172274,...,NaN,газ,NaN,"кондиционер, холодильник, посудомоечная машина",NaN,NaN,12,168,11,15.272727

In [40]:
df = pd.read_excel('Выборка.xlsx', sheet_name = 0)
df

,ID,Агрегатор,LN(Цена),Цена,Цена_перв,Цена(кв.м),dup,uniq,dup_2,КН_гис,...,Расположение на этаже,Срок сдачи,Выдача ключей,Отделка,Название новостройки,Тип участия,Название ЖК,Подъезд,Способ продажи,Вид сделки
0,1_этажи,этажи,15.955577,8500000,9500000.0,NaN,True,True,True,25:28:030010:2137,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3_этажи,этажи,15.747032,6900000,7100000.0,NaN,True,True,True,25:28:030002:536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4_этажи,этажи,16.627921,16650000,16800000.0,NaN,True,True,True,25:28:010010:1347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5_этажи,этажи,15.894952,8000000,NaN,NaN,True,True,True,25:28:030017:446,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6_этажи,этажи,15.607270,6000000,NaN,NaN,True,True,True,25:28:030010:259,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5663,3798_фарпост,фарпост,16.001562,8900000,NaN,NaN,False,True,False,25:28:020037:254,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5664,3803_фарпост,фарпост,16.308716,12100000,NaN,NaN,False,True,False,25:28:040009:463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5665,3804_фарпост,фарпост,15.729488,6780000,NaN,NaN,False,True,False,25:28:040014:7514,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5666,3805_фарпост,фарпост,16.606676,16300000,NaN,NaN,False,True,False,25:28:040008:533,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5667,3806_фарпост,фарпост,15.656060,6300000,NaN,NaN,False,True,False,25:28:000000:9738,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_inacc = search_inaccuracy(df['Сцепка_к'], df['Этажность_1'], df['ID'])
df_inacc

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,ID,hitch,val,hitch_count,hitch_summ,hitch_min,hitch_div,Метка
0,1_этажи,131.927984 43.102557,25,9,225,25,9.000000,True
1,3_этажи,131.88632 43.092774,9,3,27,9,3.000000,True
2,4_этажи,131.903056 43.122294,26,6,156,26,6.000000,True
5,8_этажи,131.958015 43.105124,9,5,45,9,5.000000,True
7,10_этажи,131.945124 43.131315,9,6,54,9,6.000000,True
...,...,...,...,...,...,...,...,...
5663,3798_фарпост,131.861446 43.093386,14,3,42,14,3.000000,True
5664,3803_фарпост,131.913216 43.129407,9,5,45,9,5.000000,True
5665,3804_фарпост,131.961698 43.17016,17,8,142,17,8.352941,False
5666,3805_фарпост,131.906164 43.128611,14,8,124,14,8.857143,False
5667,3806_фарпост,131.911805 43.176222,12,3,36,12,3.000000,True

In [32]:
df_inacc[df_inacc['Метка'] == False]

,ID,hitch,val,hitch_count,hitch_summ,hitch_min,hitch_div,Метка
8,11_этажи,131.855804 43.08729,24,12,284,22,12.909091,False
13,18_этажи,131.920627 43.193734,27,74,1956,24,81.500000,False
16,21_этажи,131.92378 43.127446,23,9,212,23,9.217391,False
22,28_этажи,131.935674 43.178977,9,8,75,9,8.333333,False
23,29_этажи,131.950711 43.105157,24,40,961,24,40.041667,False
...,...,...,...,...,...,...,...,...
5654,3787_фарпост,131.961338 43.086783,25,7,172,24,7.166667,False
5659,3793_фарпост,131.957934 43.170232,25,17,427,24,17.791667,False
5660,3794_фарпост,131.957934 43.170232,25,17,427,24,17.791667,False
5665,3804_фарпост,131.961698 43.17016,17,8,142,17,8.352941,False
5666,3805_фарпост,131.906164 43.128611,14,8,124,14,8.857143,False

In [33]:
df_inacc_i = df_inacc[df_inacc['Метка'] == False]

In [34]:
#Сохраняем в Excel
writer = pd.ExcelWriter('Неточности.xlsx')
df_inacc_i.to_excel(writer, 'data')
writer.save()

In [35]:
df_inacc = search_inaccuracy(df['Сцепка_к'], df['ГП_2'], df['ID'])
df_inacc

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

,ID,hitch,val,hitch_count,hitch_summ,hitch_min,hitch_div,Метка
0,1_этажи,131.927984 43.102557,2020,9,18180,2020,9.000000,True
1,3_этажи,131.88632 43.092774,1993,3,5936,1950,3.044103,False
2,4_этажи,131.903056 43.122294,2017,6,12102,2017,6.000000,True
5,8_этажи,131.958015 43.105124,1983,5,9915,1983,5.000000,True
7,10_этажи,131.945124 43.131315,1979,6,11874,1979,6.000000,True
...,...,...,...,...,...,...,...,...
5663,3798_фарпост,131.861446 43.093386,2009,3,6027,2009,3.000000,True
5664,3803_фарпост,131.913216 43.129407,1984,5,9920,1984,5.000000,True
5665,3804_фарпост,131.961698 43.17016,2020,8,16160,2020,8.000000,True
5666,3805_фарпост,131.906164 43.128611,2007,8,16056,2007,8.000000,True
5667,3806_фарпост,131.911805 43.176222,1975,3,5925,1975,3.000000,True

In [36]:
df_inacc[df_inacc['Метка'] == False]

,ID,hitch,val,hitch_count,hitch_summ,hitch_min,hitch_div,Метка
1,3_этажи,131.88632 43.092774,1993,3,5936,1950,3.044103,False
13,18_этажи,131.920627 43.193734,1955,74,148797,1955,76.110997,False
23,29_этажи,131.950711 43.105157,2023,40,80804,1955,41.331969,False
34,42_этажи,131.920627 43.193734,2023,74,148797,1955,76.110997,False
44,52_этажи,131.950711 43.105157,2023,40,80804,1955,41.331969,False
...,...,...,...,...,...,...,...,...
5631,3749_фарпост,131.911177 43.119859,2022,53,106989,1956,54.697853,False
5634,3755_фарпост,131.911177 43.119859,2022,53,106989,1956,54.697853,False
5645,3774_фарпост,132.013575 43.250173,2018,9,18158,2016,9.006944,False
5649,3780_фарпост,131.920627 43.193734,2023,74,148797,1955,76.110997,False
5656,3789_фарпост,131.911177 43.119859,2022,53,106989,1956,54.697853,False

In [37]:
df_inacc_i = df_inacc[df_inacc['Метка'] == False]

In [38]:
#Сохраняем в Excel
writer = pd.ExcelWriter('Неточности_год.xlsx')
df_inacc_i.to_excel(writer, 'data')
writer.save()

In [67]:
df_dup = search_duplicates(df['Сцепка_3'], df['ОПлощадь'], 2, df['ID'])
df_dup

100%|██████████| 2860/2860 [01:16<00:00, 37.36it/s]
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                ID    sq                      sim   dup  label
5          8_этажи  52.0   4 131.958015 43.105124  True    1.0
7         10_этажи  17.0   8 131.945124 43.131315  True    1.0
8         11_этажи  50.9    7 131.855804 43.08729  True    3.0
10        14_этажи  28.7   4 132.028703 43.230562  True    1.0
13        18_этажи  28.1  20 131.920627 43.193734  True    1.0
...            ...   ...                      ...   ...    ...
5656  3789_фарпост  70.3  19 131.911177 43.119859  True    0.0
5660  3794_фарпост  42.8  18 131.957934 43.170232  True    0.0
5661  3796_фарпост  87.2   7 131.925199 43.121037  True    0.0
5662  3797_фарпост  77.0   1 131.861275 43.098383  True    1.0
5663  3798_фарпост  42.0   7 131.861446 43.093386  True    0.0

[2860 rows x 5 columns]

In [69]:
df_dup_n = df_dup[df_dup['label'] != 0]
df_dup_n

                ID    sq                      sim   dup  label
5          8_этажи  52.0   4 131.958015 43.105124  True    1.0
7         10_этажи  17.0   8 131.945124 43.131315  True    1.0
8         11_этажи  50.9    7 131.855804 43.08729  True    3.0
10        14_этажи  28.7   4 132.028703 43.230562  True    1.0
13        18_этажи  28.1  20 131.920627 43.193734  True    1.0
...            ...   ...                      ...   ...    ...
5643  3770_фарпост  71.3   9 131.998187 43.229334  True    2.0
5644  3771_фарпост  31.1   3 131.907754 43.151859  True    1.0
5647  3778_фарпост  34.0    2 131.86989 43.103899  True    1.0
5649  3780_фарпост  27.9  18 131.920627 43.193734  True    1.0
5662  3797_фарпост  77.0   1 131.861275 43.098383  True    1.0

[1965 rows x 5 columns]

In [71]:
df_dup_n[df_dup_n['sim'] == "4 132.028703 43.230562"]

            ID    sq                     sim   dup  label
10    14_этажи  28.7  4 132.028703 43.230562  True    1.0
2192  326_циан  28.7  4 132.028703 43.230562  True    1.0

In [72]:
df_dup_n['label'].max()

7.0

# Функция с ценой

In [80]:
df = pd.read_excel('Выборка.xlsx', sheet_name = 0)
df

,ID,Мусор,Агрегатор,LN(Цена),Цена,Цена_перв,Цена(кв.м),dup_all,dup_1,dup_2,...,Расположение на этаже,Срок сдачи,Выдача ключей,Отделка,Название новостройки,Тип участия,Название ЖК,Подъезд,Способ продажи,Вид сделки
0,1_этажи,0,этажи,15.955577,8500000,9500000.0,228494.623656,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2_этажи,1,этажи,15.990262,8800000,NaN,169230.769231,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3_этажи,0,этажи,15.747032,6900000,7100000.0,128731.343284,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4_этажи,0,этажи,16.627921,16650000,16800000.0,185825.892857,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5_этажи,0,этажи,15.894952,8000000,NaN,96735.187424,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8957,3802_фарпост,0,фарпост,15.876024,7850000,NaN,150961.538462,1,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8958,3803_фарпост,0,фарпост,16.308716,12100000,NaN,181681.681682,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8959,3804_фарпост,0,фарпост,15.729488,6780000,NaN,233793.103448,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8960,3805_фарпост,0,фарпост,16.606676,16300000,NaN,207643.312102,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8961,3806_фарпост,0,фарпост,15.656060,6300000,NaN,190909.090909,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [83]:
df_1 = df[df['Мусор'] == 0]
df_1 = df_1[df_1['dup_1'] == 0]
df_1

,ID,Мусор,Агрегатор,LN(Цена),Цена,Цена_перв,Цена(кв.м),dup_all,dup_1,dup_2,...,Расположение на этаже,Срок сдачи,Выдача ключей,Отделка,Название новостройки,Тип участия,Название ЖК,Подъезд,Способ продажи,Вид сделки
0,1_этажи,0,этажи,15.955577,8500000,9500000.0,228494.623656,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3_этажи,0,этажи,15.747032,6900000,7100000.0,128731.343284,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4_этажи,0,этажи,16.627921,16650000,16800000.0,185825.892857,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5_этажи,0,этажи,15.894952,8000000,NaN,96735.187424,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,6_этажи,0,этажи,15.607270,6000000,NaN,137299.771167,1,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8953,3798_фарпост,0,фарпост,16.001562,8900000,NaN,211904.761905,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8958,3803_фарпост,0,фарпост,16.308716,12100000,NaN,181681.681682,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8959,3804_фарпост,0,фарпост,15.729488,6780000,NaN,233793.103448,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8960,3805_фарпост,0,фарпост,16.606676,16300000,NaN,207643.312102,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8961,3806_фарпост,0,фарпост,15.656060,6300000,NaN,190909.090909,0,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
from tqdm import tqdm
import pandas as pd
import numpy as np
import difflib

def similarity(s1, s2):
    normalized_1 = s1.lower()
    normalized_2 = s2.lower()
    matcher = difflib.SequenceMatcher(None, normalized_1, normalized_2)
    return matcher.ratio()

def search_duplicates(sim, sq, pr, treshold_s, treshold_pr, iid, keep):                                  #sim = df['Сцепка_2'], sq = df['ОПлощадь'], keep = first or last
    treshold_s = treshold_s                                                                              #порог по площади (<=)
    treshold_pr = treshold_pr                                                                            #порог по цене (<=)
    matrix = np.zeros((len(sq), len(sq)))                                                                #создаем нулевую матрицу
    
    df_sq_sim = pd.DataFrame({'ID': iid, 'price': pr, 'sq': sq, 'sim': sim})                             #создаем DF для площади и сцепки
    df_sq_sim['dup'] = df_sq_sim['sim'].duplicated(keep = False)                                         #создаем столбик с дубликатами по сцепке
    duplicates = df_sq_sim[df_sq_sim['dup'] == True]                                                     #сортируем все дубликаты по сцепке

    df_sq = pd.concat([pd.DataFrame(duplicates['sq']).T] * len(duplicates), ignore_index = True)         #матрица для площадей
    df_sq.columns = range(0, len(duplicates))
    
    df_sim = pd.concat([pd.DataFrame(duplicates['sim']).T] * len(duplicates), ignore_index = True)       #матрица для сцепок
    df_sim.columns = range(0, len(duplicates))
    
    df_pr = pd.concat([pd.DataFrame(duplicates['price']).T] * len(duplicates), ignore_index = True)      #матрица для цены
    df_pr.columns = range(0, len(duplicates))
    
    sim = np.array(duplicates['sim'])
    sq = np.array(duplicates['sq'])
    pr = np.array(duplicates['price'])

    n = 0
    for i in tqdm(range(0, len(sq), 1), position = 0, leave = True):                                     #перебираем столбцы патриц df_sim, df_sq
        n = i + 1
        for j in range(0, n, 1):
            #similar = similarity(sim[j], df_sim[i][j])                                                  #сходство по сцепке через функцию
            diff_pr = abs(min(pr[j], df_pr[i][j]) / max(pr[j], df_pr[i][j]) - 1)                         #разница по цене
            diff_s = abs(sq[j] - df_sq[i][j])                                                            #разница по площади
            #print(diff_pr, diff_s)
            #print(diff)
            #if similar == 1 and diff <= treshold:
            if (sim[j] == df_sim[i][j]) and (diff_s <= treshold_s) and (diff_pr <= treshold_pr):         #прямое сходство
                matrix[j][i] = 1                                                                         #строка, столбец
                matrix[i][j] = 1                                                                         #строка, столбец - зеркально
            else:
                matrix[j][i] = 0                                                                         #строка, столбец
                matrix[i][j] = 0                                                                         #строка, столбец - зеркально
    
    summ = []                                                                                            #считаем суммы по строкам матрицы
    for i in range(0, len(sq), 1):
        summ.append(matrix[i].sum() - 1)                                                                 #вычитаем 1 из диагонали матрицы
    
    duplicates['label'] = summ                                                                           #добавляем метку в DF, label показывает количество пересечений объекта с другими  
    duplicates = duplicates[duplicates['label'] != 0]
    dup_i = duplicates['sim'].duplicated(keep = keep)
    duplicates['dup_i'] = dup_i
    
    return duplicates

In [100]:
df_dup = search_duplicates(df_1['Сцепка_3'], df_1['ОПлощадь'], df_1['Цена(кв.м)'], 2, 0.03, df_1['ID'], keep = 'last')
df_dup

100%|██████████| 3078/3078 [02:58<00:00, 17.20it/s]
/opt/conda/python37/lib/python3.7/site-packages/ipykernel_launcher.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,price,sq,sim,dup,label,dup_i
7,8_этажи,125961.538462,52.0,4 131.958015 43.105124,True,1.0,True
9,10_этажи,211764.705882,17.0,8 131.945124 43.131315,True,1.0,True
10,11_этажи,204322.200393,50.9,7 131.855804 43.08729,True,3.0,True
17,18_этажи,201067.615658,28.1,20 131.920627 43.193734,True,1.0,True
19,20_этажи,189405.286344,45.4,4 131.934506 43.114588,True,1.0,True
...,...,...,...,...,...,...,...
8898,3743_фарпост,125000.000000,64.0,9 131.918228 43.091774,True,1.0,False
8918,3763_фарпост,133843.212237,52.3,1 131.945762 43.099252,True,1.0,False
8920,3765_фарпост,209024.390244,41.0,1 131.890111 43.123452,True,1.0,False
8952,3797_фарпост,138974.025974,77.0,1 131.861275 43.098383,True,1.0,False
8959,3804_фарпост,233793.103448,29.0,2 131.961698 43.17016,True,1.0,False

In [101]:
#Сохраняем в Excel
writer = pd.ExcelWriter('Дубликейт.xlsx')
df_dup.to_excel(writer, 'data')
writer.save()